# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
cmake_build
lrpc.egg-info
.vscode
**/__pycache__/**/*.*
/tests/cpp/generated
/VENV
/.coverage
/coverage.xml
/examples/stm32_nucleo_l496/CMakeUserPresets.json
/examples/stm32_nucleo_l496/.mxproject
/examples/stm32_nucleo_l496/App/lrpc/generated
/examples/stm32_nucleo_l496/cmake/stm32cubemx/cmake_install.cmake
/examples/stm32_nucleo_l496/cmake/stm32cubemx/STM32_Drivers.dir
/examples/stm32_nucleo_l496/cmake/stm32cubemx/CMakeFiles
