name: Check Markdown links

on: push

jobs:
    markdown-link-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: tcort/github-action-markdown-link-check@v1
              with:
                  folder-path: "./docs/"
                  file-path: "./docs/reference.md"
                  use-verbose-mode: true
                  file-extension: ".*"
