name: Reviewdog
on: [pull_request] # yamllint disable-line rule:truthy
jobs:
  Reviewdog:
    name: Reviewdog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install requirements
        run: |
          pip install -r requirements/dev.txt
          pip install -r requirements/package.txt
      - name: Linkspector
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_level: any
          fail_on_error: true
          config_file: .github/workflows/config/.linkspector.yml
      - name: Ruff
        uses: benny123tw/action-ruff@226d241bdf7205e6e048f1407d21bd69a64b7298
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: error
          fail_level: any
          changed_files: false
      - name: MyPy
        uses: tsuyoshicho/action-mypy@v5
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          fail_on_error: true
      - name: PyLint
        uses: dciborow/action-pylint@0.1.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          glob_pattern: src
          fail_on_error: true
      - name: yamllint
        uses: reviewdog/action-yamllint@v1.21.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_level: any
      - name: markdownlint
        uses: reviewdog/action-markdownlint@v0.26.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: any
          markdownlint_flags: ". -i external -i changes -i examples/stm32_nucleo_l496/**/License.md"
      - name: towncrier
        uses: tzijnge/action-towncrier@0.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: any
          compare_with: "origin/${{ github.base_ref }}"
